<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculoEletronica" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49166/CalculoEletronica.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculoEletronica"
                contract="ServiceReferenceCalc.ICalculoEletronica" name="BasicHttpBinding_ICalculoEletronica" />
        </client>
    </system.serviceModel>
</configuration>